{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- styles block -->

{% block styles%}
{{ super() }}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/all.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock %}

<!-- Content block -->
{% block content %}
<style>
    .overlay-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 92vh;
            overflow-x: hidden;
            background-color: black;
            opacity: 0.6;
    }

    #index .container-fluid {
            overflow-x: hidden;
    }

    .overlay {
            overflow: hidden;
            position: absolute;
            top: 40%;
            text-align: center;
            
            
            
    }
  
</style>
<div
    style="background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); background-repeat: no-repeat; background-size: cover; height: 100vh;">
<section class="">
<div class="container">
    <div class="row mb-4">
        <div class="col-md-6 mx-auto">
            <a href="{{url_for('main.new_pitch')}}" ><br>
                <span class="btn btn-secondary btn-lg text-light display-4" style="font-weight: bold; font-style: italic; font-size: 2rem; ">Create a new Pitch</span>
            </a>
            </div>
            
    
    </div>
    
        <div class="row ">
            <div class=" col-md-8 mx-auto bg-light all-pitches">
                    {{macro.displayPitches(pitches)}}
            </div>
       </div> 
</div>
</section>
{% endblock%}